@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background: #1f2937;
  --header-logo-text: #f9faf8;
  --button: #3882f6;
  --information: #1f2937;
  --quote: #e5e7eb;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.header {
  background-color: var(--dark-background);
  min-height: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: var(--header-logo-text);
  font-size: 24px;
}

.header__links-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.header__link {
  color: var(--header-logo-text);
  text-decoration: none;
  padding: 8px;
  transition: color 0.2s ease-out;
}

.header__link:hover {
  color: var(--button);
}

.header__link:active {
  color: var(--quote);
}

.hero {
  min-height: 470px;
  background-color: var(--dark-background);
}

.hero__wrapper {
  display: flex;
  height: 100%;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.hero__title {
  font-size: 48px;
  line-height: 115%;
  font-weight: 900;
  color: var(--header-logo-text);
  margin-bottom: 24px;
}

.hero__text {
  font-size: 18px;
  line-height: 150%;
  color: var(--quote);
  margin-bottom: 24px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--button);
  color: var(--header-logo-text);
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover {
  background-color: var(--header-logo-text);
  color: var(--button);
}

.cards {
  min-height: 500px;
}

.cards__wrapper {
  padding-top: 48px;
}

.cards__title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: var(--information);
  margin-bottom: 48px;
}

.cards__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cards__item {
  width: 170px;
}

.cards__image {
  border: 5px solid var(--button);
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.cards__text {
  text-align: center;
  padding: 0 10px;
}

.quote {
  min-height: 430px;
  background-color: var(--quote);
  padding-top: 140px;
}

.quote__text {
  font-size: 36px;
  line-height: 115%;
  font-style: italic;
  font-weight: 300;
  width: 800px;
  margin: 0 auto;
  color: var(--information);
  /* padding-left: 130px;
  padding-right: 100px; */
}

.quote__cite {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  margin-left: 660px;
  color: var(--information);
}

.footer {
  flex-shrink: 0;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: var(--dark-background);
}

.footer__copyright {
  color: var(--header-logo-text);
}
